.m-r-10 {
    margin-right: 10px;
}
body {
    background: image-url('bg.jpeg');
    background-size: cover;
    background-position-y: -100px;
}
.header {
    width: 100%;
    height: 70px;
    background: #131921;
    position: fixed;
}
.container {
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 10px;
}
.logo {
    width: 50px;
    height: 50px;
}
.header_menu > .link_menu {
    position: relative;
    text-decoration: none;
    color: #f8f8f8;
    padding: 20px 20px;
}
.link_menu::before {
    content: "";
    height: 3px;
    width: 0;
    background: #f00;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.link_menu:hover::before{
    width: 100%;
}
.link_menu:hover, .link_sub_menu:hover{
    color: #f00;
}

.header_profile .profile_pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
}
.profile_icon {
    position: relative;
}
.profile_icon:hover {
    color: #f00;
}
.profile_icon:hover>.sub_menu {
    display: grid;
}
.sub_menu {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 150px;
}
.link_sub_menu {
    font-size: 15px;
    border-bottom: 1px solid #6e6767;
    padding: 10px;
    text-align: left;
    color: #fff;
    text-decoration: none;
}
.text_sub_menu {
    text-align: left;
    padding: 10px;
    font-size: 15px;
}
.link_sub_menu i {
    margin-right: 5px;
}
.btn-sign-up-in {
    color: #fff;
}
